@model IEnumerable<ExamCreator.Areas.Admin.Models.ViewModels.Grade.ListGrade>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                SİNİF
            </th>
            <th>
                STATUS
            </th>
            <th>
                SİLİNMİŞ
            </th>
            <th>
                YARADILDI
            </th>
            <th>
                DƏYİŞDİRİLDİ
            </th>
            <th>
                YARADAN
            </th>
            <th>
                DƏYİŞDİRƏN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Status)
                    {
                        <span class="badge badge-success">Aktiv</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Passiv</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyUserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
